.header{
    display: grid;
    justify-items: center;
}

.navbar{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #333;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);;
}

.navbtn{
    display: inline-block;
    border: none;
    background-color: green;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.loginbtn{
    background-color: green;
    border: none;
    padding: 8px 20px;
    float: right;
    font-size: 16px;
    cursor: pointer;
}
.reserve{
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: brown;

}