* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav{
    background-color: #2f5010;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title{
    text-decoration: none;
    font-size: 3rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
}

.nav li:hover {
    background-color: #185c0b;
}
.nav li.active{
    background-color: #07380a;
}

.foot{
    background-color: #2f5010;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-count: 3;
    padding: 0rem 35rem;
}

.footerlinks{
    font-size: 12px;
    
}
.footerlink{
    text-decoration: none;
    color: white;
}
.header{
    text-align: center;
    padding: 5rem;
}

.imgContainer{
    background-color: #518323;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
}

.siteContainer{
    background-color: #4da33b;
    padding: 20px;
    gap: 80px;
    display: flex;
    
    justify-content: center;
}

.btnContainer{
    padding: 20px;
    gap: 80px;
    display: flex;
    justify-content: center;
}

.siteMap{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.pageheader{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    background-color: #cdf0c6;
}

.loginlink{
    text-decoration: none;
}

.reserve-btn{
    padding: .75rem 2.5rem;
    margin: 1rem;
    border: 2px solid rgb(44, 42, 42);
    color: rgb(44, 42, 42);
    background-color: rgb(182, 197, 192);
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    
}

.reserve-container{
    display: flex;
    justify-content: center;
    background-color: #07380a;
}