* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav{
    background-color: #2f5010;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title{
    text-decoration: none;
    font-size: 3rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
}

.nav li:hover {
    background-color: #185c0b;
}
.nav li.active{
    background-color: #07380a;
}

.foot{
    background-color: #2f5010;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-count: 3;
    padding: 0rem 35rem;
}

.footerlinks{
    font-size: 12px;
    
}
.footerlink{
    text-decoration: none;
    color: white;
}
.header{
    text-align: center;
    padding: 5rem;
}

.imgContainer{
    background-color: #518323;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
}

.siteContainer{
    background-color: #4da33b;
    padding: 20px;
    gap: 80px;
    display: flex;
    
    justify-content: center;
}

.btnContainer{
    padding: 20px;
    gap: 80px;
    display: flex;
    justify-content: center;
}

.siteMap{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.pageheader{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    background-color: #cdf0c6;
}

.loginlink{
    text-decoration: none;
}

.reserve-btn{
    padding: .75rem 2.5rem;
    margin: 1rem;
    border: 2px solid rgb(44, 42, 42);
    color: rgb(44, 42, 42);
    background-color: rgb(182, 197, 192);
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    
}

.reserve-container{
    display: flex;
    justify-content: center;
    background-color: #07380a;
}

.small-img {
    height: 200px;
    width: 200px;
}



.site-row{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.reservepage-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #cdf0c6;

}
.filter-container{
    display: flex;
    flex-direction: column;
    width: 35rem;
    padding-top: 100px;
    margin-left: 40px;
    background-color: #185c0b;
}

.campsite-container{
    background-color: #d6e0d4;
}

.filtertype{
    height: 50px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    border-style: solid;
    border-radius: 3px;
    border-color: #cdf0c6;
    margin: 1px;
    background-color:#cdf0c6;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #b89191;
  }
  
  /* On mouse-over, add a grey background color */
  .checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .magnifier-img {
    padding-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 35rem;
    height: auto;
}
.site-body{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 20px;
    gap: 10px;
}
h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.logincontainer{
    display: flex; 
    min-height: 100vh; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    background-color: rgb(186,230,253);
}
.loginform{
    border-radius: 0.75rem; 
    border-width: 2px; 
    border-color: rgb(100,116,139); 
    background-color: rgb(255,255,255); 
    padding-top: 1.25rem; 
}
.emailform{
    margin-bottom: 0.75rem;
    display: flex; 
    flex-direction: column; 
    padding-left: 1.25rem; 
    padding-right: 1.25rem;
}
.email{
    margin-bottom: 0.75rem; 
    height: 1.75rem; 
    border-radius: 0.25rem; 
    border-color: rgb(100,116,139); 
    background-color: rgb(226,232,240);
}
.password{
    margin-bottom: 0.75rem; 
    height: 1.75rem; 
    border-radius: 0.25rem; 
    border-color: rgb(100,116,139); 
    background-color: rgb(226,232,240);
}
.loginbtncontainer{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding-left: 1.25rem; 
    padding-right: 1.25rem; 
    padding-top: 1.25rem;
}
.loginbtn{
    margin-top: 0.5rem; 
    width: 100%; 
    border-radius: 0.25rem; 
    border-width: 2px; 
    border-color: rgb(59,130,246); 
    background-color: rgb(255,255,255); 
    border-style: solid;
}